<style type="text/css">
/* PRINT VIEW SETTING */	
	 @media print {
        html, body {
           /*
            width: 210mm;
            height: 297mm; 
            */ 
             width:330mm;      /* f4 landscape */
             height:190mm;   /* f4 landscape */
             size: legal landscape !important;
             background: none;

        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            
        }
        textarea, input, select{

                outline: none;
                border: none;
                background-color: transparent;
                font-style: "Time New Roman";
                font: 12pt "Time New Roman, Tahoma";
                font-weight: inherit;
                color:#000;
                 /* Removes the default <select> styling */
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
            }

           .subpage {
                padding: 0cm;
                border: 2px #fff;
                height: 349mm;
                width: 212mm;
                outline: none !important;
            }
            .ttd{
            	padding: 40px;
            }
            tr.ttd-tr{
            	text-align: center !important;
            }

            .no-print, .no-print *
		    {
		        display: none !important;
		    }
    }

/* PAGE */
    table {
        width: 100%;
        border-collapse: collapse;

    }
    td{
        vertical-align:top;
    }
    .ttd{
        padding: 40px;
            }
    tr.ttd-tr{
        text-align: center !important;
    }
    .btn-cetak{
    	float: right;
	    margin-right: 48px;
	    border-radius: 5px;
	    padding: 5px 23px;
	    color: crimson;
	    font-weight: bolder;
	    background: #dddddddb;
    }
    .btn-cetak:hover{
    	float: right;
	    margin-right: 48px;
	    border-radius: 5px;
	    padding: 5px 23px;
	    color: #000000;
	    background: #eee;
	    font-weight: bolder;
    }


</style>
<script type="text/javascript">
function close_window() {
  if (confirm("Close Window?")) {
    close();
  }
}
function openWindow( url ){
  window.open("#", "_blank", "fullscreen=1, toolbar=yes,scrollbars=yes,resizable=yes top=5,left=5,width=1300,height=700");
}

</script>
<div class="row" style="width: 100%;">
	<div class="no-print" style="float: right;
			    padding: 3px;
			    background: #f11606e6;
			    position: fixed;
			    width: inherit;
			    margin-top: -9px;
    			margin-left: -9px;" >
	<button class="btn-cetak no-print" onclick="print()">CETAK</button>
	<button class="btn-cetak no-print" onclick="close_window()">TUTUP</button>
	<button class="btn-cetak no-print" onclick="openWindow()">buka</button>

	</div>
</div>

<div class="row">
	<div style="padding-top: 57px;"  class="no-print"></div>
	<table border="0">
		<tr>
			<th width="5%" style="text-align:left;">No. : KWT/
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/GU-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/DPUPR/2018	</th>
			<th width="5%" style="text-align:right;">No. SPJ :
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/SPJ-GU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/DPUPR/2018</th>
		</tr>
		<tr>
			<td></td>
			<td style="text-align:right;">Kode Rekening :  M.A. 1.03 . 1.03.01. 01 . 03 . 5 . 2 . 2 . 15 . 01</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center; font-weight: bolder; font-size: 21pt; "><u>K W I T A N S I</u></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: justify;">
				Sudah terima dari Pengguna Anggaran Dinas Pekerjaan Umum Dan Penataan Ruang Kabupaten Pasaman Barat uang Sejumlah Rp. {540.000},- {( Lima Ratus Empat Puluh Ribu Rupiah)} sebab dari pembayaran lunas pada {HENNY FERNIZA, ST.MT}, {Cs}  Biaya Perjalanan Dinas Dalam Rangka {Kunjungan Tim Ramadhan Kab. Pasaman barat Tahun 1440 H /2019 M di Masjid  Baiturrahman Lubuk alai Lembah Melintang   ke Kec. Lembah Melintang} Tanggal {18 Mei 2019} pada {Kegiatan Rapat - Rapat Koordinasi dan Konsultasi} berdasarkan SPPD Nomor : {900/      /SPPD/DPUPR/2018} tanggal   {18 Mei 2019} dengan perincian sebagai berikut :
			</td>
		</tr>
	</table>

	<table border="1">
		<tr>
			<th rowspan="2" width="1%">No</th>
			<th rowspan="2" width="30%">Nama / NIP</th>
			<th rowspan="2" width="10%">Eselon/Golongan</th>
			<th colspan="2" width="20%">Uang Harian</th>
			<th rowspan="2" width="10%">Jumlah<br/>Diterima</th>
			<th rowspan="2" width="10%">Tanda Tangan</th>
		</tr>
		<tr>
			<th>Jumlah</th>
			<th>Satuan</th>
		</tr>
		<tbody>
			<tr>
				<td style="text-align: right;">1.</td>
				<td>HENNY FERNIZA, ST,MT<br/>NIP. 19811022 200604 2 007</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: right;">1.</td>
				<td>HENNY FERNIZA, ST,MT<br/>NIP. 19811022 200604 2 007</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: right;">1.</td>
				<td>HENNY FERNIZA, ST,MT<br/>NIP. 19811022 200604 2 007</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: right;">1.</td>
				<td>HENNY FERNIZA, ST,MT<br/>NIP. 19811022 200604 2 007</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tfoot>
				<tr>
					<th colspan="4">J U M L A H</th>
					<th>500000</th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
		</tbody>
	</table>

	<table border="0">
		<tr>
			<td width="50%"></td>
			<td colspan="2" style="text-align: center;"><br>Simpang Empat,  ……………………….  2018</td>
		</tr>
		<tr style="text-align: center;">
			<td width="50%">Setuju Dibayar</td>
			<td width="50%"></td>
		</tr>
		<tr class="ttd-tr">
			<td>Kuasa Pengguna Anggaran</td>
			<td>Yang Menerima</td>
		</tr>
		<tr class="ttd-tr" >
			<td class="ttd"></td>
			<td class="ttd"></td>
		</tr>
		
		
		<tr class="ttd-tr">
			<th><u>WILDAN, SH. M.Si</u></th>
			<th><u>HENNY FERNIZA, ST,MT</u></th>
		</tr>

		<tr class="ttd-tr">
			<td>NIP. 19690314 199003 1 002</td>
			<td>NIP. 19811022 200604 2 007</td>
		</tr>
		<tr class="ttd-tr">
			<td>Lunas tanggal</td>
			<td></td>
		</tr>
		<tr class="ttd-tr">
			<td>Bendahara Pengeluaran</td>
			<td>Pejabat Pelaksana Teknis Kegiatan</td>
		</tr>
		<tr class="ttd-tr" >
			<td class="ttd"></td>
			<td class="ttd"></td>
		</tr>
		<tr class="ttd-tr">
			<th><u>ALIN MARIANA, Amd</u></th>
			<th><u>NASRIL, ST, MT</u></th>
		</tr>
		<tr class="ttd-tr">
			<td>NIP. 19780419 201101 2 001</td>
			<td>NIP.19760120 200312 1007</td>
		</tr>
	</table>
	
</div>

